<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>We're really sorry about this, an error occurred while trying to do that.</h2>
    </hgroup>
</body>
</html>
