
/*set our loading spinner to hidden by default and set its position*/
div#spinner {
    display: none;
    width: 50vw;
    height: 50vw;
    position: fixed;
    top: 30%;
    left: 25%;
    background: rgb(249,249,249);
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #333;
    border-radius: 1em 1em 1em 1em;
    z-index: 9999;
    overflow: auto;
}
div#spinnerDesktop {
    display: none;
    width: 15vw;
    height: 15vw;
    position: fixed;
    top: 15%;
    left: 42.5%;
    background: rgb(249,249,249);
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #333;
    border-radius: 1em 1em 1em 1em;
    z-index: 9999;
    overflow: auto;
}
